In [92]:
#import dependancies
import pandas as pd
import numpy as np

In [93]:

df = pd.read_csv('Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [94]:
#import label encoder
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()    
df["Gender"]=enc.fit_transform(df["Gender"])

In [95]:
#gender has been encoded to 0 and 1
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

In [96]:
#splitting training testing data
X = df.iloc[:,1:4]
Y = df.iloc[:,4]

from sklearn.cross_validation import train_test_split
X_train , X_test , Y_train, Y_test = train_test_split(X,Y)

In [97]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train,Y_train)

GaussianNB(priors=None)

In [98]:
Y_pred = classifier.predict(X_test)

In [99]:
from sklearn.metrics import accuracy_score , confusion_matrix
accuracy = accuracy_score(Y_test,Y_pred)
print(accuracy)

0.83

In [100]:
confusion_mat= confusion_matrix(Y_test,Y_pred)
confusion_mat

array([[53,  4],
       [13, 30]])